.login {
  background-color: var(--accent-color-5);
}
.login .card-title,
.register .card-title {
  color: var(--primary-color);
}
.login .card-title,
.register .card-title {
  text-decoration: var(--accent-color-3) double underline;
}
.card-body p label {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-color);
}
.card-body p .pwd-label {
  padding-right: 140px;
}
.card-body p input {
  width: 100%;
  max-width: 240px;
  padding: 8px 0;
  padding-right: 30px;
  padding-left: 10px;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  transition: all 0.3s ease;
  outline: none;
}
.card-body p input:focus {
  border-color: var(--accent-color-1);
}
.card-body p button {
  width: 150px;
  padding: 5px 20px;
  margin: 10px 0;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  outline: none;
  color: var(--primary-color);
  transition: all 0.3s ease;
  cursor: pointer;
}
.card-body p .btn:hover {
  background-color: var(--accent-color-1);
}
.card-body h6 {
  color: var(--primary-color);
}
